<!DOCTYPE html>
<html class="site" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body class="body">

        <header class="header">
            <div class="header__container">
                <input class="header__state" type="checkbox" id="header-state" style="display: none;">
                <div class="header__frame">
                    <h1 class="header__branding">
                        <a class="header__logo" href="#">nuqneH</a>
                        <span class="visuallyhidden">—</span>
                        <span class="header__slogan">I travel. I play. I develop.</span>
                    </h1>
                    <label class="header__burger" for="header-state" style="display: none;">
                        Toggle header
                    </label>
                </div>
                <div class="header__addition">
                    <div class="header__lang">
                        <div class="language">
                            <span class="visuallyhidden">Language:</span>
                            <a class="language__item language__item_id_en language__item_current" href="#">English</a>
                            <a class="language__item language__item_id_ru" href="#">Russian</a>
                        </div>
                    </div>
                    <div class="header__search">
                        <form class="search">
                            <span class="visuallyhidden">Search:</span>
                            <input class="search__field" type="text" placeholder="Search …">
                            <button class="search__submit" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </header>


        <br>
        <br>
        <br>
        <br>

        <div class="content">
            <div class="content__section">
                <article class="article">
                    <img class="article__preview" src="../temp/mario/featured-image.jpg">
                    <div class="article__body">
                        <h1 class="article__heading">
                            Super Mario 3D Land. How have you been Nintendo?
                        </h1>
                        <div class="article__content text">
                            <p>I play all kinds of retro looking and pantsu games on modern PlayStations. I know that Nintendo exist and I am aware of what game systems they make. I know that Mario is still alive and very good feeling. I increasingly see the bearded men, hipsters and sort of nerds on YouTube who play Mario for serious, while I gave up after first one on NES.</p>
                            <p>Next time I will tell you about how did it happen that I played a modern Mario game and how did it happen that I played it on real and modern game system. But just about Mario for now. In the sense that I touch it once in 20 years.</p>
                            <!-- Read more -->
                            <h2>History</h2>
                            <figure>
                                <img src="../temp/mario/super-mario-bros.jpg">
                            </figure>
                            <p>This part of an article is actually a Russian stuff. Maybe it was the same to some other countries where licensed games wasn’t presented by Nintendo. I will leave it here to keep translation consistent. But if you interested in the history of video games black market check <a href="#">this movie</a>.</p>
                            <p>20 years ago Mario was in every single house and on every single Famiclone. This "first"; game was played by everyone and played a lot. I was about 7 years old. Didn’t have any gaming experience, and everything around was kinda blurry. But still I was able to beat this game in around ten minutes. Girls are still getting wet seeing such skills.</p>
                            <p>What's next? Japan was lucky to have the hardcore second game which is now called The Lost Levels in the west. Then it was normal second game that is just so so. Third one was outstanding. And all these games was on NES and none of this was here. Bad luck.</p>
                            <figure>
                                <img src="../temp/mario/super-mario-bros-3.jpg">
                            </figure>
                            <p>Then game consoles generation was changed. Then another and another. Again and again. More and more. There were excellent Mario games on these consoles and some consoles were excellent as well. You can even say that Mario was selling Nintendo console. But neither Mario nor Nintendo no longer visit us here in Russia.</p>
                            <p>I’ve got a Genesis after NES. Someone have had a PlayStation after Genesis. I have had nothing after Genesis. Then personal computers and I guess and that’s all. But why so? Because of Pirates. All what we played in childhood was a pirate. Nintendo, Sega, Sony none of these guys never sell things in Russia. Nothing at all. Not a single cartridge or game system.</p>
                            <p>Pirates ruled everything and they do it very careless. They just did not care of what they create. Just by wave of magic wand we could have a Mario, famiclone and over9000 games cartridges or Sega, Sonic and Mortal Kombat or Crash on PlayStation. If pirates skip something like entire history of Nintendo, well, we skip it too.</p>
                            <figure>
                                <img src="../temp/mario/even-big-brothers-cry.jpg">
                                <figcaption>
                                    <a href="http://marios-friend9.deviantart.com/art/Even-Big-Brothers-Cry-396619298">Even big brothers cry</a> by <a href="http://marios-friend9.deviantart.com/">Marios-Friend9</a>
                                </figcaption>
                            </figure>
                            <h2>Nerds and newcomers</h2>
                            <p>And how much time has passed… Childhood was over 20 years ago. Mario history turned 30. During this time my pepsi generation has grown up, raised another generation. Generation of noobs, lol. These generation grows on GTA and they compare the technical specifications of PlayStation and Xbox. Mario is a mockery for them and Nintendo is a pity.</p>
                            <p>Meanwhile a modern Mario become a game of the year. This is how good Mario fells himself precisely. Talking about the Super Mario Galaxy game of course. And actually it has a greatest average score and take the first place of all video games ever created. <a href="#">Seriously</a>. Also in this ranking we can see a second Galaxy game just below Zelda. And Zelda is very Nintendo thing too actually. An anger of new generation gamers is priceless. My congrats, Mario.</p>
                            <figure>
                                <img src="../temp/mario/happy-mario.jpg">
                            </figure>
                            <p>What’s for Mario, well, I can say that mostly adults play it. It is a bearded men in deer sweaters who play it with beer on emulators. It's a smoothies addicted hipsters from fruit bars with their rainbow 3DS. And, of course, nerds who never stop to play Mario with bottle of Rolling Rock. You can call them Mario boys.</p>
                            <p>And something is wrong here. On the one hand we have a Mario. The original Super Mario Bros. game is one of the most important video games in history. Mario franchise includes dozens of games and it is still developing. Mario games receive the highest awards and sold millions of copies. Nintendo and Mario boys on that side and they are trying to say something to us. On the other hand, here we are, gamers. Why we ignore Mario and Nintendo in spite of all this? With newcomers it’s all clear, but the general gaming community, what's wrong with us?</p>
                            <figure>
                                <img src="../temp/mario/playing-super-mario-bros-2.jpg">
                                <figcaption>Me playing Super Mario Bros. 2 when Shigeru Miyamoto announces Super Mario Run</figcaption>
                            </figure>
                            <p>What do I do? I keep Nintendo in sight. I gifted 3DS to girlfriend. I rob it back. I play the classic Mario games. Nintendo, by the way, they have a great service called Virtual Console for sale their old games on modern consoles. All NES Mario can be found there. And as said I accidentally played Super Mario 3D Land.</p>
                            <p>And what can I say? The truth is on Mario boys’s side. They may be fanatics but Mario is not to blame for this. Mario is mistakenly ignored by wide gaming community. Classic Mario games are exceptional games, such a good games for their time. Nowadays games seems to be great games as well.</p>
                            <h2>Super Mario 3D Land</h2>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-box-art.jpg">
                            </figure>
                            <p>This is a very three-dimensional platformer Mario game developed by Nintendo itself. One of the last "normal" games in the series. Released in the 2011th exclusively for portable game system Nintendo 3DS.</p>
                            <h2>An experts</h2>
                            <p>An experts say that this is not really the best game in the series. They mean that in the background beyond the extremely successful Super Mario 64 and Super Mario Galaxy it does not bear such a success on console sales. Well I can respond to experts that Super Mario 64 and Super Mario Galaxy are nothing to compare with how many consoles were sold by the original Super Mario Bros. and in general it is not a criterion at all.</p>
                            <p>An experts say that 3D Land is just a mix of these Super Mario 64 and Super Mario Galaxy games. As for the gameplay and in style. Can’t argue with experts on it but you know what? I see a lot of ideas from Super Mario Bros. 3 for example as well. I just played 3D Land first and only after that I played the third game. And I was like this: "Tanooki Suit! Neko Mimi! Stone monster! Pockets for Power ups! - All this things has already appeared in the third game".</p>
                            <p>This is the first Mario game I play in 20 years. For my girlfriend it is the first Mario game at all. We don’t care about yours experts troubles. But anyway we all agree that Super Mario 3D Land is a very good game.</p>
                            <h2>Mario-kun</h2>
                            <p>What have you done to Mario? Miyamoto-san why Mario-kun is such kawaii-nya? You there, in the mushroom kingdom, did you just harvest some fresh stuff? Or you just discover Meitu? Not mentioning facts: Mario is Italian plumber who is over 30 for sure. Imagine this hairy chest, this sagging tummy, imagine massaging this pimply back and playing with his whiskered cheeks. Here he is. A modern Mario in tanooki suit with lovely tail and cute ears.</p>
                            <figure>
                                <img src="../temp/mario/mario-kun.jpg">
                            </figure>
                            <p>Mi-mi-mi Gumba, nya-nya-nya Bowser. They have kawaii entire game. In fact Nintendo itself kawaii all Mario games and everything that they have already. And what’s for ears and tail. Mario experimented with it already in the 88th.</p>
                            <p>No luck only to Princess Peach. Oh, my peach, how ugly you are. How doggy the way you open your eyes and mount. And how disgusting your voice is.</p>
                            <figure>
                                <img src="../temp/mario/princess-peach-in-3d-land.jpg">
                            </figure>
                            <p>If my childhood had such a princess and such Mario, I would rather like Mario than princess. He is cute at least. And that’s it! It must be the reason why all Mario boys are gay.</p>
                            <figure>
                                <img src="../temp/mario/mario-boys-party.jpg">
                                <figcaption>Mario Boys Party</figcaption>
                            </figure>
                            <p>To be serious it is not that bad. At least for one particular game series. Moreover, there is no such topic that Nintendo stuck in a manger. It is opposite. It is a feature of Nintendo. Mushroom kingdom is a fabulous world of princesses and dragons, fireworks and shooting stars, flying fish and walking on two legs turtles. And it’s for adults too.</p>
                            <p>Super Mario 3D Land is very colourful and bright game. Here we have a juicy green spring day level, the bright tropical level with fish and palm trees and frosty sun mountains level. There is a sewers with purple wastewater, haunted house and some kind of volcano level. And so on.</p>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-screenshot-01.jpg">
                            </figure>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-screenshot-02.jpg">
                            </figure>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-screenshot-03.jpg">
                            </figure>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-screenshot-04.jpg">
                            </figure>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-screenshot-05.jpg">
                            </figure>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-screenshot-06.jpg">
                            </figure>
                            <p>By the way, I mercilessly mock mobile games for a similar drawing and chibi-style. What is happening to the mobile market is disgusting. But Nintendo and Mario is somehow gets away with it. Nintendo’s designers have done well with their job! The Mario games look great these days.</p>
                            <p>Maybe I'm a little biased to mobile games and praise Nintendo for no reason? Nah!</p>
                            <h2>Three dimensional 3D</h2>
                            <figure>
                                <img src="../temp/mario/three-dimensional-3d.jpg">
                                <figcaption>
                                    <a href="http://mdk7.deviantart.com/art/Mario-Bros-3D-Pixelart-128024581">Mario Bros 3D Pixelart</a> by <a href="http://mdk7.deviantart.com/">mdk7</a>
                                </figcaption>
                            </figure>
                            <p>Nintendo 3DS can show three-dimensional image. You look at a normal flat screen and you see a three-dimensional image. No, not just a three-dimensional world in a two-dimensional screen, namely the three-dimensional image. As in the 3D-cinema, but without glasses and and much better.</p>
                            <p>Right, it does not always work well. Sometimes it glitches a bit and actually it is strongly depends on the game. But what’s for Super Mario 3D Land on the New Nintendo 3DS everything is just perfect! Unfortunately, it is impossible to demonstrate it on the normal screen. So you you have to believe me that it is very cool. Personally, I was delighted.</p>
                            <p>First of all it is just looks great. Some design features, some effects, it's just incredible! And secondly a game is three-dimensional itself and on a three-dimensional screen it is much easier to see which objects are closer, and which are farther. It is convenient to move diagonally or something like that. The feeling is very natural.</p>
                            <h2>Gameplay</h2>
                            <p>Mario games strikes me by the diversity of things. I mean how many different and creative stuff we can see around. And not just 3D Land but also the classic games. Hats off to Nintendo game designers. Let’s take the first level, for example. Flying coins over the river, tanooki suit and now you can hit things by tail and fly a bit. Some large coins with a star, rope for a long jumps, tripled hitbox, a three 1UP secrets in a row and mushroom in the bushes. You can climb trees. Monsters also experiment with the tanooki suit. A new hitbox and a lifting mechanism designed specifically for use by the tail. Cool jump pad and huge Gumba in the end of the level.</p>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-screenshot-07.jpg">
                            </figure>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-screenshot-08.jpg">
                            </figure>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-screenshot-09.jpg">
                            </figure>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-screenshot-10.jpg">
                            </figure>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-screenshot-11.jpg">
                            </figure>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-screenshot-12.jpg">
                            </figure>
                            <p>All these things would be enough to diversify the whole game but in Mario games it is just the first level. Later these things will be repeated of course but also many of new features will be presented. And mixing everything together will give us the good levels.</p>
                            <p>Power ups include classic mushroom and fire flower from the first game, and somewhat new boomerang and this tanooki suit. If I understand correctly Tanooki leaf was removed from the game quite awhile, but now it is the main feature in 3D Land.</p>
                            <p>Mario is now can do second jump from the wall, and there is new a cool thing with the propeller that takes you to heaven.</p>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-screenshot-13.jpg">
                            </figure>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-screenshot-14.jpg">
                            </figure>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-screenshot-15.jpg">
                            </figure>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-screenshot-16.jpg">
                            </figure>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-screenshot-17.jpg">
                            </figure>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-screenshot-18.jpg">
                            </figure>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-screenshot-19.jpg">
                            </figure>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-screenshot-20.jpg">
                            </figure>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-screenshot-21.jpg">
                            </figure>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-screenshot-22.jpg">
                            </figure>
                            <p>The game has a lot of canonical features and references to it’s roots. The flag pole at the end of each level, mini-levels in the clouds with coins, cannons, castles at the ends of the worlds and kind of firework after reaching flag pole. Nintendo is always serious about the company legacy and it can be traced in the games.</p>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-flagpole.jpg">
                            </figure>
                            <p>But something is wrong with the bosses. They added two freaks and they stick on your way to the dragon over and over again.</p>
                            <p>The game is very interesting, it is highly addictive. Probably due to it’s variety and it’s style. First you just check what kind of game that is. Then you play for half an hour, then an hour or two. In the end you go through the whole game in one day. And then you sat down for a couple of days to discovered all the secrets and collect everything.</p>
                            <h3>Difficulty</h3>
                            <p>It is difficult to talk about difficulty. In the beginning I could not believe what Mario has become. How casual it is now. I have no words to describe how simple this game is. It is not a press A to win kind of game yet, but something very close to this. Nevertheless, there will always be some casual gamers who find it difficult as well. So first of all 3D Land takes care of such gamers.</p>
                            <p>Amount of extra lives does not matter in the game, and eventually they count by hundreds. Levels are short. If you die five times in a row, the game will offers you a gold tanooki suit that absolute cheat. This as an ordinary tanooki suit combined with endless super star power up.</p>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-invincibility-leaf-block.jpg">
                            </figure>
                            <p>I grew up on Batlletoads and Megaman. I just played Super Mario Bros. 3. And now the 3D Land for me is just a walk in the park. But this is a complex and multifaceted topic to discuss. The first thing is that the crazy difficulty, bugs, lack of documentation and disability to save with which we coexisted in childhood is not so good either. Although it gives your skills of steel. Many old games were difficult because they were stupid and difficulty was increased just to make the game longer somehow. The second thing is that times changed. Earlier it was fine to try again a single level for a entire week. Over and over again. Just because there was nothing to do for a kids that time. But now this week is much more valuable for the modern man. Wide audience games has to change too.</p>
                            <p>From the other side, again, Mario is not that bad! After completing the main game it will offers another pack of levels, which is much harder than original. It is still not enough to make you sweating out there but the play becomes an interesting. As a result we have a game that is suitable for beginners and at the same time pleasing to old gamers.</p>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-mario-face-bowser.jpg">
                            </figure>
                            <p>And one more thing here. We should not forget that this is a three-dimensional game and it is just must not be a difficult. Otherwise it will make you crazy about the camera and control imperfections. Three-dimensional image that 3DS provides, of course, makes the game much more convenient to play, but all the same, there is a limit to perfection. Difficult platformer games must be two-dimensional and three-dimensional platformers must be simple.</p>
                            <p>Let’s look on a secret level in 3D Land for example. Just try to jump and land on that small cube in such perspective. I did it thousand of times in the original Mario game and it was fine. But here it is kinda hard. In general this is an easy level for all common standards, but because of such cubes in 3D view it becomes very difficult.</p>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-secret-level-jump.jpg">
                            </figure>
                            <h3>The end</h3>
                            <p>What can I say? I recommend to try both classic and modern Nintendo games for everyone. And first of all play Mario. Especially now because of the lack of platformers these days.</p>
                            <p>I must say that hardware of Nintendo systems is dumb, game consoles are retarded but they always have a killer-features such as 3D and that great controllers. Games on Nintendo usually are weird and almost always it is so bad kawaii but Nintendo has invented some secret formula of success and apply it successfully.</p>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-letter.jpg">
                            </figure>
                            <p>New Nintendo 3DS and Super Mario 3D Land are great pack for everyone. It is a great game for today gamers, it is good old stuff for old school gamers, it's a nice and safe game for the video games first timers and it is a must have for anyone who plays a lot of mobile games and believes that he is actually playing a real games. And now I am wondering how can I put all of this on my mom…</p>
                            <figure>
                                <img src="../temp/mario/super-mario-3d-land-5-stars-profile.jpg">
                            </figure>
                            <p><b>P.S.</b> I have no idea how to make that damn profile stars to shy. When I played it for the first time I have used golden tanooki suit few times and did not know about stars thing. I finished all the levels (including secret level) again, twice, without a suit and it is still not enough. Someone at Nintendo shout have a big face slap for this.</p>
                            <p>Do not use a golden tanooki suite if you plan to have <s>a platinum trophy</s> a five shining stars profile. Do not use it from the beginning.</p>
                        </div>
                    </div>
                    <footer class="article__footer">
                        <div class="article__info">
                            <div class="article__time">
                                <b class="visuallyhidden">Publication date:</b>
                                <time class="action action_id_date action_static" datetime="2017-02-27T22:13:26+00:00">
                                    <span class="action__label">2017.02.27</span>
                                </time>
                            </div>
                            <div class="article__category">
                                <b class="visuallyhidden">Category:</b>
                                <a class="article__single-category action action_id_category" href="http://en.nuqneh.com/blog/game" rel="category tag">
                                    <span class="action__label">Game</span>
                                </a>
                            </div>
                            <div class="article__tags">
                                <b class="visuallyhidden">Tags:</b>
                                <a class="article__single-tag action action_id_tag" href="http://en.nuqneh.com/tag/3ds">
                                    <span class="action__label">3ds</span>
                                </a>
                                <a class="article__single-tag action action_id_tag" href="http://en.nuqneh.com/tag/nintendo">
                                    <span class="action__label">nintendo</span>
                                </a>
                                <a class="article__single-tag action action_id_tag" href="http://en.nuqneh.com/tag/super-mario">
                                    <span class="action__label">super mario</span>
                                </a>
                            </div>
                        </div>
                        <div class="article__share">
                            <div style="width: 50px; height: 22px; background: #3B7CFF; line-height: 22px; text-align: center; color: #fff;">like</div>
                        </div>
                    </footer>
                </article>
            </div>
            <div class="content__section content__section_supplementary">
                <div style="height: 400px; line-height: 400px; text-align: center; background: purple; color: white;">Comments</div>
            </div>
            <div class="content__section content__section_supplementary">
                <div style="height: 200px; line-height: 200px; text-align: center; background: purple; color: white;">Navigation</div>
            </div>
        </div>

    </body>
</html>