.content {

}
    .content__section {
        background-color: var(--panel-background);
    }

    @media (min-width: 620px) {
        .content__section {
            border: 1px solid var(--panel-border);
            box-shadow: 0 0 0 1px var(--panel-shadow);
        }
    }

    .content__section_supplementary {

    }




/* layout */

@media (min-width: 620px) and (max-width: 959px) {
    .content {
        padding-top: var(--padding);
        padding-bottom: var(--padding);
    }
        .content__section {
            margin-top: var(--padding);
            margin-left: var(--padding);
            margin-right: var(--padding);
        }

        .content__section:first-child {
            margin-top: 0;
        }

        .content__section_supplementary {

        }
}

@media (min-width: 740px) and (max-width: 959px) {
    .content {

    }
        .content__section {

        }

        .content__section_supplementary {
            margin-left: calc( 2 * var(--padding) );
            margin-right: calc( 2 * var(--padding) );
        }
}




@media (min-width: 960px) {
    .content {
        width: calc(var(--container) + 2px); /* 2px is because borders inside */
        margin-left: auto;
        margin-right: auto;
        padding-top: 60px;
        padding-bottom: var(--padding-desktop);
    }

    .content__section {
        margin-top: var(--padding-desktop);
    }

    .content__section:first-child {
        margin-top: 0;
    }

    .content__section_supplementary {
        margin-left: var(--padding-desktop);
        margin-right: var(--padding-desktop);
    }
}