/* stylelint-disable declaration-colon-space-after */
:root {

    --brand-white:  #FFFFFF;
    --brand-slate:  #F1F1F1;
    --brand-silver: #F7F7F7;
    --brand-grey:   #6E6E6E;
    --brand-black:  #333333;

    --text_family_default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --text_family_heading: Georgia, Times, "Times New Roman", serif;
    --text_color_main: var(--brand-black);
    --text_color_faded: var(--brand-grey);

    --background_color: var(--brand-slate);
}
/* stylelint-enable declaration-colon-space-after */