/* stylelint-disable declaration-colon-space-after */
:root {

    --brand-white:  #FFFFFF;
    --brand-light:  #EAEAEA; /* really needed? for separators? */
    /* should here be one more for separator hover? */
    --brand-slate:  #F1F1F1;
    --brand-silver: #F7F7F7;
    --brand-smoke:  #707070;
    --brand-grey:   #6E6E6E;
    --brand-black:  #333333;
    --brand-blue:   #180BA9;

    --text_family_default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --text_family_heading: Georgia, Times, "Times New Roman", serif;
    --text_color_main: var(--brand-black);
    --text_color_heading: var(--brand-black);
    --text_color_note: var(--brand-smoke);
    --text_color_faded: var(--brand-grey);

    --link_color: var(--brand-blue);

    --background: var(--brand-slate);

    --inner-background: var(--brand-silver);

    --separator: var(--brand-light);
    --separator-hover: #c1c1c1;

    --image-fallback: var(--brand-grey);

    --padding: 7.6923%;
    --padding-inner: 9.0909%; /* to have the same total padding if used inside of padding already */

    /* белые плашки */
    --panel-background: var(--brand-white);
    --panel-border: #E6E6E6;
    --panel-shadow: #EFEFEF;


    --flag-shadow: #EFEFEF;


    --container: 824px;
}
/* stylelint-enable declaration-colon-space-after */