.sidebar {

}
    .sidebar__state {

    }

    .sidebar__header {
        position: relative;
        padding: var(--padding);
        background-color: var(--panel-background);
        border-bottom: 1px solid var(--separator);
    }
    
    @media (min-width: 620px) and (max-width: 959px) {
        .sidebar__header {
            border-bottom-color: var(--panel-border);
            box-shadow: 0 1px 0 0 var(--panel-shadow);
        }
    }
    
        .sidebar__branding {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 2px;
            padding-bottom: 2px;
            line-height: 0; /* in case of <h1> */
        }

        @media (min-width: 620px) {
            .sidebar__branding {
                padding-top: 0;
                padding-bottom: 0;
            }
        }

            .sidebar__logo {
                display: inline;
                vertical-align: top;
                margin-top: -8px;
                margin-bottom: -8px;
                padding-top: 8px;
                padding-bottom: 8px;
                font-weight: bold;
                font-size: 22px;
                line-height: 26px;
                color: var(--text_color_heading);
                letter-spacing: 0.04545em;
                text-decoration: none;
            }

            @media (min-width: 620px) and (max-width: 739px) {
                .sidebar__logo {
                    /* same */
                }
            }

            @media (min-width: 740px) and (max-width: 879px) {
                .sidebar__logo {
                    font-size: 29px;
                    line-height: 34px;
                }
            }

            @media (min-width: 880px) and (max-width: 959px) {
                .sidebar__logo {
                    font-size: 32px;
                    line-height: 38px;
                }
            }


            .sidebar__slogan {
                display: none;
                margin-top: 3px;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                color: var(--text_color_faded);
            }

            @media (min-width: 620px) {
                .sidebar__slogan {
                    display: block;
                }
            }

            @media (min-width: 620px) and (max-width: 739px) {
                .sidebar__slogan {
                    /* same */
                }
            }

            @media (min-width: 740px) and (max-width: 879px) {
                .sidebar__slogan {
                    margin-top: 10px;
                    font-size: 14px;
                    line-height: 16px;
                }
            }

            @media (min-width: 880px) and (max-width: 959px) {
                .sidebar__slogan {
                    margin-top: 12px;
                    font-size: 16px;
                    line-height: 20px;
                }
            }


        .sidebar__burger {
            position: absolute;
            right: var(--padding);
            top: 50%;
            display: block !important;
            width: 42px;
            height: 42px;
            margin-top: -21px;
            background-image: url("../vectors/burger-default.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 40px 40px;
            border: 1px solid var(--separator);
            padding: 0;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;
        }

        .sidebar__burger:hover {
            border-color: var(--separator-hover);
        }

        @media (min-width: 620px) and (max-width: 739px) {
            .sidebar__burger {
                /* same */
            }
        }

        @media (min-width: 740px) and (max-width: 879px) {
            .sidebar__burger {
                width: 56px;
                height: 56px;
                margin-top: -28px;
            }
        }

        @media (min-width: 880px) and (max-width: 959px) {
            .sidebar__burger {
                width: 64px;
                height: 64px;
                margin-top: -32px;
            }
        }

    .sidebar__region {
        padding: var(--padding);
        background-color: var(--panel-background);
        border-bottom: 1px solid var(--separator);
    }

    @media (min-width: 620px) and (max-width: 959px) {
        .sidebar__region {
            margin-top: var(--padding);
            margin-left: var(--padding);
            margin-right: var(--padding);
            border: 1px solid var(--panel-border);
            box-shadow: 0 0 0 1px var(--panel-shadow);
            padding: var(--padding-inner);
        }
    }


    @media (min-width: 960px) {
        .sidebar__region {
            border-bottom: none;
        }
    }
        .sidebar__section {

        }


.sidebar__state:checked ~ .sidebar__header .sidebar__burger {
    background-image: url("../vectors/burger-close.svg");
    border-color: var(--separator-hover);
}

.sidebar__state:not(:checked) ~ .sidebar__region {
    display: none;
}

.sidebar__state:checked ~ .sidebar__region {
    display: block;
}