.text {
    font-size: 15px;
    line-height: 24px;
    color: var(--text_color_main);
}

@media (min-width: 620px) and (max-width: 739px) {
    .text {
        /* same */
    }
}

@media (min-width: 740px) and (max-width: 879px) {
    .text {
        font-size: 17px;
        line-height: 28px;
    }
}

@media (min-width: 880px) and (max-width: 959px) {
    .text {
        font-size: 19px;
        line-height: 32px;
    }
}



.text img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    background-color: var(--image-fallback);
}

.text figure {
    margin-left: 0;
    margin-right: 0;
}

.text figcaption {
    padding-top: 6px;
    padding-bottom: 6px;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: var(--text_color_faded);
}

@media (min-width: 620px) and (max-width: 739px) {
    .text figcaption {
        /* same */
    }
}

@media (min-width: 740px) and (max-width: 879px) {
    .text figcaption {
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 14px;
        line-height: 21px;
    }
}

@media (min-width: 880px) and (max-width: 959px) {
    .text figcaption {
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 16px;
        line-height: 24px;
    }
}



    .text figcaption a {
        color: var(--text_color_main);
    }


.text a {
    text-decoration: none;
    color: var(--link_color);
    border-bottom: 1px solid;
}

.text a:hover {
    text-decoration: none;
    border-bottom-color: transparent;
}

.text h2 {
    font-family: var(--text_family_heading);
    font-weight: bold;
    font-style: italic;
    margin-top: 48px;
    margin-bottom: 24px;
    font-size: 22px;
    line-height: 30px;
    color: var(--text_color_heading);
}

@media (min-width: 620px) and (max-width: 739px) {
    .text h2 {
        /* same */
    }
}

@media (min-width: 740px) and (max-width: 879px) {
    .text h2 {
        margin-top: 56px;
        margin-bottom: 28px;
        font-size: 29px;
        line-height: 35px;
    }
}

@media (min-width: 880px) and (max-width: 959px) {
    .text h2 {
        margin-top: 64px;
        margin-bottom: 32px;
        font-size: 32px;
        line-height: 40px;
    }
}


.text h3 {
    font-family: var(--text_family_heading);
    font-weight: bold;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
    color: var(--text_color_heading);
}

@media (min-width: 620px) and (max-width: 739px) {
    .text h3 {
        /* same */
    }
}

@media (min-width: 740px) and (max-width: 879px) {
    .text h3 {
        margin-top: 46px;
        margin-bottom: 23px;
        font-size: 24px;
        line-height: 28px;
    }
}

@media (min-width: 880px) and (max-width: 959px) {
    .text h3 {
        margin-top: 52px;
        margin-bottom: 26px;
        font-size: 27px;
        line-height: 32px;
    }
}



.text p,
.text hr,
.text ul,
.text ol,
.text dl,
.text figure,
.text blockquote {
    margin-top: 24px;
    margin-bottom: 24px;
}

.text p:first-child,
.text hr:first-child,
.text ul:first-child,
.text ol:first-child,
.text dl:first-child,
.text h2:first-child,
.text h3:first-child,
.text figure:first-child,
.text blockquote:first-child {
    margin-top: 0;
}

.text p:last-child,
.text hr:last-child,
.text ul:last-child,
.text ol:last-child,
.text dl:last-child,
.text h2:last-child,
.text h3:last-child,
.text figure:last-child,
.text blockquote:last-child {
    margin-bottom: 0;
}


